.section {
    height: max-content;
    padding-top: 4rem;
    position: relative;
    /* background-color: rgb(249, 247, 247); */
}

#btn--setDisscount {
    position: absolute;
    background-color: rgba(17, 45, 78, 1);
    border-radius: 1rem;
    font-size: 2rem;
    color: white;
    padding: 1rem 2rem;
    left: 2rem;
    top: 8rem;
    text-transform: uppercase;
    font-style: italic;
}

#btn--setDisscount:focus {
    border-radius: 50%;
}

.section__row {
    margin-top: 15rem;
    color: rgba(17, 45, 78, .5);
    height: 500px;
}

.col-sm-6 {
    position: relative;
    /* height: max-content; */
}

.col1-box {
    display: inline-block;
    /* margin-left: 24rem; */
    position: absolute;
    right: 0;
    padding-right: 2rem;
}

.col2-box {
    display: inline-block;
    position: absolute;
    left: 0;
}

.form-login input {
    padding-left: 4rem;
    width: 50rem;
    margin-top: 1.3rem;
    height: 4rem;
    font-size: 1.6rem;
    border: 1px solid rgba(17, 45, 78, .2);
}

.form-login input:focus {
    border: 2px solid rgba(17, 45, 78, 1);
    box-shadow: 0.2rem 0.3rem rgba(17, 45, 78, .3);
}

.form-login i {
    position: relative;
    left: 3rem;
    font-size: 2rem;
    color: rgba(17, 45, 78, 1);
}

.form-login {
    text-align: center;
}

.title-box-login {
    text-transform: uppercase;
    font-weight: 450;
}

.btn-login {
    border: 1px solid rgb(17, 45, 78);
    width: 50rem;
    margin-top: 1.3rem;
    height: 4rem;
    font-size: 1.6rem;
    line-height: 3.5rem;
    margin-left: 2rem;
    background-color: rgba(17, 45, 78, .2);
    color: rgba(17, 45, 78, .8);
    transition: all 0.3s;
}

.btn-login:hover {
    background-color: rgba(17, 45, 78, 1);
    color: #fff;
}

.fogretPass {
    margin-top: 1.3rem;
    font-size: 1.6rem;
    width: 50rem;
    margin-left: 2rem;
    font-size: 1.3rem;
}

.fogretPass a {
    color: rgb(63, 114, 175);
    font-weight: 700;
}

#box_account {
    color: rgb(17, 45, 78);
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 5rem auto;
}

#infoAccount {
    width: 80%;
    /* position: fixed; */
}

#infoIndent {
    display: flex;
    /* justify-content: space-around; */
    width: 90%;
    font-size: 1.6rem;
    font-weight: 700;
    margin-top: 3rem;
    background-color: rgb(219, 226, 239);
    padding: 0.5rem 0;
    border-top: 1px solid rgb(17, 45, 78);
    border-bottom: 1px solid rgb(17, 45, 78);
    text-align: center;
    align-items: center;
    /* position: sticky; */
}

#nameIndent {
    width: 30%;
}

#date {
    width: 10%;
}

#address {
    width: 30%;
}

#state {
    width: 10%;
}

#price {
    width: 20%;
}

#infoIndent_content {
    display: flex;
    /* justify-content: space-around; */
    width: 90%;
    font-size: 1.6rem;
    font-weight: 700;
    margin-top: 3rem;
    padding: 0.5rem 0;
    text-align: center;
    align-items: center;
    position: sticky;
}

#box_account h2 {
    font-size: 2.5rem;
    font-weight: 500;
}

#box_account p {
    font-size: 2rem;
}

#manageAccount button {
    background-color: rgba(17, 45, 78, .5);
    color: rgb(249, 247, 247);
    font-size: 1.6rem;
    border: none;
    padding: 0.5rem;
}

#nameIndent img {
    width: 100%;
}

.box_title {
    width: 60%;
    margin: 0 auto;
}

.infoIndent_content_admin_title {
    border-top: 1px solid rgba(17, 45, 78, .5);
    border-bottom: 1px solid rgba(17, 45, 78, .5);
    margin-bottom: 2rem;
}

.infoIndent_content_admin {
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid rgb(17, 45, 78);
}

#h2 {
    text-align: center;
    font-size: 3rem;
    margin-top: 2rem;
    font-weight: 700;
}

#btn-logOut {
    width: max-content;
    margin: 0 auto;
}

#btn-logOut button {
    padding: 0.6rem 2rem;
    font-size: 2rem;
    font-weight: 500;
    color: rgb(249, 247, 247);
    background-color: rgba(17, 45, 78, .8);
    border-radius: 0.5rem;
    margin-bottom: 4rem;
    margin-top: 2rem;
}

.button {
    cursor: pointer;
    margin-left: 5px;
    margin-bottom: 15px;
    text-shadow: 0 -2px 0 #4a648a, 0 1px 1px #c2d1de;
    box-sizing: border-box;
    font-size: 2rem;
    font-family: Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    font-weight: bold;
    color: #5e7ca9;
    height: 65px;
    line-height: 65px;
    padding: 0 32.5px;
    display: inline-block;
    width: auto;
    background: linear-gradient(to bottom, #9ccbea 0%, #9dbdda 26%, #7f99bb 100%);
    border-radius: 5px;
    border-top: 1px solid #c8d2e2;
    border-bottom: 1px solid #c2cede;
    top: 0;
    transition: all 0.06s ease-out;
    position: relative;
}

.button:visited {
    color: #5e7ca9;
}

.button:hover {
    background: linear-gradient(to bottom, #bad2f1 0%, #b7c5e4 26%, #96a5c7 100%);
}

.button:active {
    top: 6px;
    text-shadow: 0 -2px 0 #7f8fbb, 0 1px 1px #c2cdde, 0 0 4px white;
    color: #fff;
}

.button:active:before {
    top: 0;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .7), 0 3px 9px rgba(0, 0, 0, .2);
}

.button:before {
    display: inline-block;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    top: 6px;
    border-radius: 5px;
    height: 65px;
    background: linear-gradient(to top, #1e3450 0%, #375283 6px);
    transition: all 0.078s ease-out;
    box-shadow: 0 1px 0 2px rgba(0, 0, 0, .3), 0 5px 2.4px rgba(0, 0, 0, .5), 0 10.8px 9px rgba(0, 0, 0, .2);
}

.customer {
    border: 2px solid rgb(63, 114, 175);
    border-radius: 1rem;
    text-align: center;
    width: 30%;
    box-shadow: 3px 3px rgb(63, 114, 175);
    margin: 2rem auto;
    position: relative;
    overflow: hidden;
    transition: 0.3s all ease-in;
    text-shadow: 1.5px 1px rgba(63, 114, 175, .2);
}

.customer::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(63, 114, 175, .7);
    z-index: -1;
    /* width: 0%;
    height: 100%; */
    border-radius: 1rem;
    transition: 0.3s all ease-in;
    width: 100%;
    height: 0%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.customer:hover::before {
    height: 600%;
}

.customer:hover {
    color: white;
    box-shadow: 3px 3px rgb(17, 45, 78);
    text-shadow: 1.5px 1px black;
    transform: translateY(-1rem) scale(1.1);
    margin-top: 3rem;
}


/* .customer:active {
    transform: translateY(0rem) scale(1.1);
} */

#customer--name {
    font-size: 2.5rem;
    font-weight: 700;
}

#customer--phone {
    font-size: 2rem;
    font-weight: 500;
}

.customer--content {
    display: none;
}

#modal-discount {
    padding: 2rem;
    font-size: 2rem;
}

#modal-content-discount input {
    height: 4rem;
    margin: 1rem 2rem;
    padding: 0 2rem;
}

#btnModalDiscount {
    display: flex;
    justify-content: space-around;
    margin: 1rem 0;
}

#btnModalDiscount button {
    width: 7rem;
    height: 4rem;
    background-color: rgb(17, 45, 78);
    color: white;
}

.totalCash {
    border: 1px solid red;
}