#box_addProduct {
    width: 70rem;
    margin: 5rem auto;
}

#box_addProduct h2 {
    font-size: 3rem;
    text-align: center;
    font-weight: 700;
}

.input {
    display: block;
    width: 100%;
    height: 5rem;
    font-size: 1.6rem;
    padding-left: 1rem;
}

#box_addProduct label {
    font-size: 2rem;
    font-weight: 500;
    display: block;
}

#box_addProduct textarea {
    height: 10rem;
    width: 100%;
    font-size: 1.6rem;
    padding-left: 1rem;
}

#inp_img {
    display: flex;
    justify-content: space-around;
}

#btn-save {
    margin-top: 2rem;
    background-color: rgba(63, 114, 175, .8);
    color: #fff;
    text-transform: uppercase;
    font-size: 2rem;
    border: none;
}

.img-input {
    font-size: 1.2rem;
    line-height: 2rem;
}