#removeProduct {
    background-color: rgba(63, 114, 175, .7);
    color: rgb(249, 247, 247);
    padding: 1rem 0;
    font-size: 2rem;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
}

#removeProduct:hover::after {
    content: "";
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(219, 226, 239, .8);
    transform: scaleY(8.8) translateY(-2.8rem);
    position: absolute;
    top: 3px;
    left: 0;
}


/* .section {
    position: relative;
} */

#myModal {
    margin-top: 5rem;
    text-align: center;
}

.modal-content {
    padding: 2rem;
}

#tilte_question {
    font-size: 2rem;
    font-weight: 700;
}

#box_img_name {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box_img_name img {
    width: 50%;
}

#box_img_name div {
    width: 50%;
    font-size: 2rem;
    font-weight: 600;
}

#box_yes_no {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}

#box_yes_no button {
    background-color: rgba(63, 114, 175, .7);
    border: none;
    color: rgb(249, 247, 247);
    padding: 1rem 0;
    font-size: 1.6rem;
    width: 30%;
    font-weight: 700;
}