.section {
    height: max-content;
    padding-bottom: 10rem;
    background-color: rgb(249, 247, 247);
}

.products-container {
    max-width: 100rem;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
    font-size: 2rem;
}

.product-header {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    border-bottom: 1px solid rgb(17, 45, 78);
    border-top: 1px solid rgb(17, 45, 78);
    padding-top: 0.5rem;
}

.product-title {
    width: 40%;
    display: flex;
    justify-content: center;
    vertical-align: 50%;
    align-items: center;
}

.remove {
    width: 20%;
}

.total {
    width: 20%;
}

.quantity {
    width: 20%;
}

.product {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-bottom: 1px solid rgb(17, 45, 78);
    padding: 2rem 0;
}

.product-title img {
    width: 50%;
}

.product-title p {
    width: 50%;
    margin: 0;
    text-align: center;
}

.title_cart {
    text-align: center;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 1000;
    padding-top: 10rem;
}

.basketTotalContainer {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    text-align: center;
    border: 3px solid rgb(17, 45, 78);
    padding: 5rem 0;
}

.basketTotalContainer h2 {
    width: 70%;
    font-size: 3rem;
    font-weight: 1000;
}

.basketTotalContainer div {
    width: 20rem;
    border-radius: 3rem;
    background-color: rgba(17, 45, 78, .7);
    color: rgb(249, 247, 247);
    font-weight: 700;
    text-transform: uppercase;
    padding: 1rem 0;
}

.empty {
    text-align: center;
}

.empty a {
    text-decoration: none;
    color: rgb(249, 247, 247);
}

.btn_continueShopping {
    background-color: rgba(17, 45, 78, .7);
    color: rgb(249, 247, 247);
    display: inline-block;
    margin-top: 4rem;
    padding: 1rem 2rem;
    border-radius: 3rem;
}