.section {
    height: 100rem;
    background-color: rgb(249, 247, 247);
}

.box_col2 {
    margin-top: 6rem;
    display: inline-block;
    margin-left: 7rem;
}

#select_color,
#select_size {
    display: block;
    width: 35rem;
    height: 4.2rem;
    margin-bottom: 1.2rem;
    font-size: 1.3rem;
    background-image: linear-gradient(to bottom, rgb(219, 226, 239), rgb(249, 247, 247));
    padding-left: 1rem;
}

.btn--detail {
    width: 35rem;
    height: 4.2rem;
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    line-height: 4.2rem;
    text-align: center;
    text-transform: uppercase;
    border-radius: 0.3rem;
}

.add-cart {
    border: 1px solid rgb(17, 45, 78);
}

.buy {
    color: rgb(249, 247, 247);
    background-color: rgb(17, 45, 78);
}

.title_price_product {
    text-align: center;
    margin-bottom: 2rem;
}

.title_price_product h2 {
    font-size: 2.4rem;
}

.title_price_product p {
    font-size: 1.6rem;
}

.detail {
    font-size: 1.3rem;
}

.detail p {
    font-weight: 700;
    margin-bottom: 0;
}

.col1_section {
    position: relative;
}

#main_img {
    top: 4rem;
    position: absolute;
    right: 0;
    width: 70%;
    height: auto;
}

.img_detail {
    position: absolute;
    top: 70rem;
    left: 20rem;
    display: inline-block;
}

.img_detail img {
    /* margin: 0 20rem; */
    display: inline;
    width: 10rem;
    height: auto;
}

#img1_detail {
    border: 3px solid rgb(17, 45, 78);
}

#modal-dialog {
    margin-top: 20rem;
}

#modal-content {
    width: 40rem;
    position: relative;
    box-shadow: 0 0 1rem rgb(17, 45, 78);
}

#modal-content i {
    margin-top: 1rem;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
}

#modal-content img {
    width: 50%;
}

#modal-content .name_product {
    width: 50%;
    font-size: 2.4rem;
}

.continue {
    width: 10rem;
    margin: 2rem 6rem;
    width: 13rem;
    height: 3rem;
    font-size: 1.3rem;
    background-color: rgba(17, 45, 78, .9);
    color: rgb(249, 247, 247);
}

.reviewCart {
    width: 10rem;
    position: absolute;
    bottom: 2rem;
    right: 6rem;
    width: 13rem;
    height: 3rem;
    font-size: 1.3rem;
    background-color: rgba(17, 45, 78, .9);
    color: rgb(249, 247, 247);
}

.close {
    position: absolute;
    top: -2rem;
    right: -3.6rem;
    width: 7rem;
}

.box_img_name {
    margin: 2rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}