.section {
    height: max-content;
    padding-bottom: 9rem;
    background-color: rgb(249, 247, 247);
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

#titleNewArrival {
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 600;
    padding-top: 5rem;
}

#newArrival {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 2rem auto;
}

.product {
    margin: 3rem 2rem;
    text-align: center;
    width: 30%;
    border: 1px solid rgba(17, 45, 78, .6);
    transition: all 0.2s;
}

.product a {
    text-decoration: none;
    color: rgb(63, 114, 175);
}

.tagProduct img {
    width: 100%;
}

#name_product {
    font-size: 2rem;
    color: rgb(17, 45, 78);
    font-weight: 700;
    padding-top: 1rem;
}

#cost_product {
    font-size: 1.8rem;
    font-weight: 500;
}

.product:hover {
    transform: scale(1.09);
    box-shadow: 0 0 1rem rgb(17, 45, 78);
}